extends common/layout

block content

    div.container

        div
            p.huge Optimiser les 
                |
                strong performances de son ordinateur
                |, gagner en 
                strong autonomie

        div.center
            i.huge.material-icons trending_up

    div.center
        img(src='/images/slowin_killer_logiciel.png' alt='Slowin Killer optimizer pour Windows')
        
        p
            br
        
        div.center
            a(href='/').button Téléchager Slowin' Killer


    h2.center.big Gagnez en 
        strong autonomie
        |, votre ordinateur chauffe beaucoup moins

    div.container

        div

            p.big Slowin' Killer est un outil totalement gratuit dont le but est de 
                strong rechercher les fonctionnalités 
                | qui peuvent être désactivées ou supprimées de votre ordinateur.

            ul
                li.big.done 
                    strong Services 
                    | inutiles lancés au démarrage
                li.big.done 
                    strong Logiciels installés 
                    | inutiles pour l'ordinateur ou pour vous même
                li.big.done 
                    strong Logiciels au démarrage 
                    | ralentissant le système
                li.big.done 
                    strong Clé de registre  
                    | pouvant être optimisées
                li.big.done 
                    strong Les raccourcis 
                    | potentiellement morts
                li.big.done 
                    strong Les vieux téléchargements 
                    | pouvant être supprimés

        div.center
            i.material-icons.good.huge verified_user
            h3 Vérifié par la communauté

    br

    
    div.grid-4.forward.advantages

        div
            i.material-icons.big person
            h4 Plus de 
                b 30 000 téléchargements

        div
            i.material-icons.big update
            h4 
                b Mise à jour 
                | par la communauté

        div
            i.material-icons.big cloud_circle
            h4 
                b Base de données 
                | sur le Cloud
        div
            i.material-icons.big settings_backup_restore
            h4
                b Sécurisé 
                | avec un système de restauration

    div.background

        div.opacity

            h3.center
                i.material-icons games
                | Mode jeux : Stop les processus en cours
            p
                br
            p.center.big Permet de 
                strong stopper tous les processus non-essentiels au système 
                | pour optimiser les ressources

    
    div.partners
    
        div.center
            
            img(src='/images/logo/windows.svg').inline.middle

            p.inline.middle Compatible avec toutes les versions de Windows ®



    div.center.margin
            
        a(href='/').button Téléchager Slowin' Killer

    //- div.quotation

    //-     img(src='/images/logo/github.svg').medium.margin
    //-     h2.center Un logiciel opensource pour aider la communauté

    