extends common/page

block append content

    if url == 'service'
        include pages/service
    else if url == 'startup'
        include pages/startup
    else if url == 'registry'
        include pages/registry
    else if url == 'software'
        include pages/software
