div.advantages {}

div.advantages h4 {
    margin: 10px 0px;
}

div.background h3 i {
    color: #FF5252;
    margin-right: 10px;
    font-size: 2rem;
}

div.partners {
    color: #3c4f58;
}

div.partners p {
    font-size: 1.8rem;
}