footer

    div.logo.center

        img(src='/images/logo/sk_white.png' alt="Slowin' Killer logo'")

        p.slogan Slowin' Killer est un outil communautaire gratuit pour optimiser Windows ®

        a(href='#') Made in France
            i.material-icons favorite